<?xml version="1.0" encoding="utf-8" ?>
<uexplugins>
    <plugin name="uexBaiduMap">
        <method name="open"></method>
		<method name="addMark"></method>
		<method name="clearMarks"></method>
		<method name="hide"></method>
		<method name="show"></method>
		<method name="setZoomLevel"></method>
		<method name="setCenter"></method>
		<method name="getCurrentLocation"></method>
        <method name="addLineOverLayer"></method>
        <method name="addCircleOverLayer"></method>
        <method name="addPolygonOverLayer"></method>
        <method name="clearOverLayers"></method>
        <method name="setType"></method>
        <method name="setZoomEnable"></method>
        <method name="setScrollEnable"></method>
        <method name="zoomToSpan"></method>
        <method name ="showUserLocation"></method>
        <method name ="hideUserLocation"></method>
        <method name ="zoomIn"></method>
        <method name ="zoomOut"></method>
        <method name ="poiSearchInCity"></method>
        <method name ="poiSearchNearBy"></method>
        <method name ="poiMultiSearchNearBy"></method>
        <method name = "poiSearchInBounds"></method>
        <method name = "suggestionSearch"></method>
        <method name = "busLineSearch"></method>
        <method name = "geocode"></method>
        <method name = "reverseGeocode"></method>
        <method name = "showBubbleView1"></method>
        <method name = "showBubbleView2"></method>
        <method name = "showBubbleView3"></method>
        <method name = "showRoutePlan"></method>
        <method name = "clearRoutePlan"></method>
        <method name = "updateAreaMark"></method>
        <method name = "addAreaMark"></method>
        <method name = "updateMark"></method>
        <method name = "clearAreaMarks"></method>
        <method name = "getBaiduFromGoogle"></method>
        <method name = "clean"></method>
	</plugin>
</uexplugins>


